# Clase 1

In [1]:
print("Hola Mundo")
5+10

Hola Mundo

15

In [2]:
mi_nombre = "Omar Larios"

In [3]:
print(mi_nombre)

Omar Larios

In [4]:
mi_edad = 19
mi_correo = "omarlarios02@aragon.unam.mx"
mi_altura=1.85

In [5]:
print(mi_edad)
print(mi_correo)
print(mi_altura)

19
omarlarios02@aragon.unam.mx
1.85

In [7]:
valor_1 = 34
valor_2 = 11
suma = valor_1 + valor_2
print(suma)

45

In [11]:
resta = valor_1-valor_2
multiplicacion = valor_1 * valor_2
division = valor_1/valor_2

print(resta)
print(multiplicacion)
print(division)

23
374
3.090909090909091

## Format

In [13]:
print(f'La suma de {valor_1} y {valor_2} es {suma}')

La suma de 34 y 11 es 45

In [18]:
valor_1 = int(input("Dame un primer valor"))
valor_2 = int(input("Dame un segundo valor"))
suma = valor_1+valor_2
print(f'La suma de {valor_1} y {valor_2} es {suma}')

La suma de 20 y 15 es 35

## Condicionales 'simples'

In [20]:
35 >= 42

False

In [21]:
20<=15

False

In [22]:
55<=54

False

In [23]:
22<=22

True

In [24]:
5==5

True

## Condicionales

In [25]:
if 1.60 > 1.20:
    print("Puedes pasar")
else:
    print("No puedes pasar")

Puedes pasar